---
import "./WhyChoose.css";
import logo1 from "../../../assets/images/Group.png";
import logo2 from "../../../assets/images/Groupb.png";
import logo3 from "../../../assets/images/Grouplogo.png";
import logo4 from "../../../assets/images/logo4.png";
import logo5 from "../../../assets/images/logo5.png";
import logo6 from "../../../assets/images/logo6.png";

---

<section class="why-choose">
    <div class="why-choose__container">
        <div class="why-choose__header">
            <div class="why-choose__title">
                <h2 class="hd2">
                    The Importance Of Choosing
                    HopeBloom Health
                </h2>
            </div>

            <div class="why-choose__description">
                <p class="body-md">
                    Prioritizing health and wellness is more than just a trend,
                    it's a commitment to living your best & healthy life.
                </p>
            </div>
        </div>

        <div class="why-choose__grid">
            <article class="card card--small">
                <div class="why-choose-logo">
                    <img src={logo1.src} alt="logo1" class="" />
                </div>
                <div class="why-choose-title">
                    <h5 class="h5">A Holistic Approach to Wellness</h5>
                    <p class="body-md">
                        We focus on nurturing your mind and spirit to help you
                        achieve true balance.
                    </p>
                </div>
            </article>

            <article class="card card--large">
                <div class="why-choose-logo">
                    <img src={logo2.src} alt="logo2" class="" />
                </div>
                <div class="left-section">
                    <div class="logo">
                        <img src={logo3.src} alt="logo3" class="" />
                    </div>
                    <h5 class="h5">Personalized Care for Every Jounrney</h5>
                    <p class="body-md">
                        At HopeBloom, we understand that everyone's wellness
                        journey is unique.
                    </p>
                </div>
            </article>

            <article class="card card--large2">
                <div class="why-choose-logo">
                    <img src={logo4.src} alt="logo2" class="" />
                </div>
                <div class="left-section">
                    <div class="logo">
                        <img src={logo5.src} alt="logo5" class="" />
                    </div>
                    <h5 class="h5">Personalized Care for Every Jounrney</h5>
                    <p class="body-md">
                        At HopeBloom, we understand that everyone's wellness
                        journey is unique.
                    </p>
                </div>
            </article>

            <article class="card card--small2">
                <div class="why-choose-logo">
                    <img src={logo6.src} alt="logo6" class="" />
                </div>
                <div class="why-choose-title">
                    <h5 class="h5">A Holistic Approach to Wellness</h5>
                    <p class="body-md">
                        We focus on nurturing your mind and spirit to help you
                        achieve true balance.
                    </p>
                </div>
            </article>
        </div>
    </div>
</section>
